<a href="https://colab.research.google.com/github/just-joseph/Python-basics/blob/master/Python_day_5_Connecting_Python_to_DBs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=server_name;'
                      'Database=database_name;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [ ]:
cursor.execute('SELECT * FROM database_name.table')

for row in cursor:
    print(row)

In [ ]:
import pandas as pd
sql_query = pd.read_sql_query('SELECT * FROM TestDB.dbo.Person',conn)
print(sql_query)
print(type(sql_query))